---
layout: default
title: Sara Gaya
---

<header>
  <img src="assets/images/pfp.jpg" />
</header>
<main>
  <p>
    I'm Sara, a software developer based in Massachusetts. I work with
    JavaScript, React, Vue, Python, and Django. I love video games 🎮, Sailor
    Moon 🌙, coffee ☕️, and cute things 🌸.
  </p>
  <p>
    Check me out on:
    <a href="https://github.com/sgaya16" target="_blank">🐙 Github</a>,
    <a href="http://www.sarag.me/" target="_blank">💻 my (other) site</a>,
    <a href="https://read.cv/sarag" target="_blank">📝 read.cv</a>
  </p>

  <hr />

  <h2>Posts</h2>
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      ﹣
      <time>{{ post.date | date: "%B %d, %Y" }}</time>
    </li>
    {% endfor %}
  </ul>

  <hr />

  <h2>☁️ Thoughts <a href="/thoughts">➡️</a></h2>
  <ul class="thoughts">
    {% for thought in site.data.thoughts limit: 2 %}
    <li>
      <time>{{ thought.date | date: "%B %d, %Y" }}</time>
      <br />
      {{ thought.content | markdownify }}
    </li>
    {% endfor %}
  </ul>
</main>
