body {
  font-family: $sans_serif;
  line-height: 1.8em;
  background: $gray;
  color: $black;
  font-size: $regular;
}

header,
main,
.post-content,
.thought-content {
  max-width: $max_content_width;
  margin: auto;
}

header {
  padding-top: 1.4em;

  h2 {
    margin-top: 0.6em;
  }
}

main,
.post-content {
  padding-top: 0.8em;
  padding-bottom: 0.4em;

  .pfp {
    width: 30%;
  }
}

footer {
  max-width: $max_footer_width;
  margin: auto;
  padding-top: 1.6em;
  font-size: $xs;
  font-weight: $semi_bold;
  margin-top: 1.6em;

  a {
    color: $mint_blue;
  }
}

header,
h1,
h2,
h3 {
  font-family: $serif;
  font-weight: $semi_bold;
}

h1 {
  font-weight: $semi_bold;
  font-size: $large;
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-bottom: 0.6em;
  }
}

hr {
  border: 0;
  border-top: 1px solid $mint_blue;
  border-top-style: dotted;
  margin: 2em 0;
  width: 36%;
}

time {
  font-size: $xs;
}

a {
  color: $mint-blue;
}

.link-plain,
.link-thoughts {
  text-decoration: none;
}

.link-thoughts {
  font-size: $regular;
  border: 1px solid $mint_blue;
  border-radius: 0.8em;
  padding: 0.4em 0.6em;
  color: $black;
}

.posts,
.thoughts {
  line-height: 1.6em;

  p {
    margin-top: 0.2em;
    margin-bottom: 0.8em;
  }

  time {
    color: #999;
  }
}

.post-content {
  h2 {
    font-size: $medium;
  }

  ul {
    list-style-type: square;
    padding-left: 0.8em;
  }
}

.thought-content {
  h2 {
    font-size: $medium;
    margin-bottom: 0.4em;
  }

  li {
    border: 1px dotted $mint_blue;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 2em;
  }

  time {
    color: #999;
  }

  p {
    margin-top: 0.2em;
  }
}

.dash {
  color: #999;
}

@media screen and (max-width: 800px) {
  header,
  main,
  .post-content,
  .thought-content {
    max-width: 36em;
  }
}

@media screen and (max-width: 700px) {
  header,
  main,
  .post-content,
  .thought-content {
    max-width: 26em;
  }
}

@media screen and (max-width: 500px) {
  header,
  main,
  .post-content,
  .thought-content {
    //padding-top: 1.6em;
    max-width: 20em;
  }

  footer {
    max-width: 24em;
  }
}

@media screen and (max-width: 400px) {
  header,
  main,
  .post-content,
  .thought-content {
    padding-top: 1.4em;
    max-width: 18em;
  }
}
