@keyframes colorChange {
  0% {
    color: $lavender;
  }
  50% {
    color: #6025ec;
  }
  100% {
    color: $pink;
  }
}

body {
  font-family: $sans_serif;
  line-height: 1.5rem;
  background: $light_mode;
  color: $black;
  font-size: $regular;
}

header,
main {
  max-width: 88vw;
  margin: auto;
}

.post-content,
.update-content {
  max-width: 64vw;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 8rem;

  .header-logo {
    a {
      text-decoration: none;
      color: $lavender;
      animation: colorChange 20s;
      animation-iteration-count: infinite;
    }
  }

  h2 {
    margin-top: 0.6em;
  }
}

main,
.post-content {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 8vw;
    align-items: center;
  }

  .pfp {
    img {
      border-radius: 0.4rem;
      width: 88%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
  }

  .bio {
    text-align: left;

    h1 {
      font-size: $xl;
    }
  }

  .bullets {
    padding-top: 0.4rem;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding-top: 0.6rem;

    .social-icon {
      color: transparent;
    }
  }

  .bridge {
    display: flex;
    justify-content: center;
    padding-top: 6.5rem;
    padding-bottom: 3.5rem;

    h1 {
      font-size: $xl;
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    max-width: 96vw;
    margin: auto;

    .box {
      display: block;
      width: 30%;

      background-color: $white;
      border-radius: 1rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
      padding: 0.4rem;
      margin: 1.6rem;
      text-align: center;
      transition: all 0.2s ease;

      p,
      li {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
      }

      .box-emoji {
        padding-top: 1rem;
        padding-bottom: 0.4rem;
        font-size: $lg;
      }

      .box-header {
        font-size: $md;
      }
    }

    .box:hover {
      transform: translateY(-2px);
    }
  }

  .single {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

footer {
  max-width: 96vw;
  margin: auto;
  margin-top: 1.4rem;
  padding-top: 1.6rem;
  font-size: $xs;
  font-weight: $semi_bold;
  text-align: center;

  a {
    color: $pink;
  }
}

header,
h1,
h2,
h3 {
  font-family: $serif;
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-bottom: 0.6em;
  }
}

time {
  font-size: $xs;
  color: $gray;
}

a {
  color: $lavender;
}

body.dark-mode {
  background: $dark_mode;
  color: $white;

  .box {
    background-color: $black;
  }

  .post-content h1 {
    color: $white;
  }
}

.mode-switch {
  display: flex;
  align-items: center;
  font-size: $lg;
}

.mode-switch {
  text-decoration: none;
}

.now-description {
  display: inline-block;
  margin-top: 0.2em;
  font-size: $xs;

  img {
    width: $xs;
    height: $xs;
    vertical-align: sub;
  }
}

.posts {
  line-height: 1.6rem;
}

.post-content {
  h1 {
    color: $indigo;
    line-height: 1.8rem;
  }

  h2 {
    margin-bottom: 0.2em;
  }

  ul {
    list-style-type: square;
    padding-left: 0.8em;
  }

  .post-image {
    width: 100%;
  }

  .caption {
    font-size: $xs;
    text-align: center;
  }
}

.update-content {
  h2 {
    font-size: $md;
    margin-bottom: 0.4em;
  }

  li {
    border: 1px solid $indigo;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 2em;
  }

  time {
    color: $gray;
  }

  p {
    margin-top: 0.2em;
  }
}

/*********media queries************/

// post sizing for ultrawide screens
@media (min-width: 1500px) {
  .post-content,
  .update-content {
    max-width: 48vw;
  }
}

@media (max-width: 1100px) {
  .post-content {
    h1 {
      line-height: 2rem;
    }
  }
}

@media (max-width: 1000px) {
  header,
  main,
  footer,
  .post-content,
  .update-content {
    max-width: 96vw;
  }

  main {
    .intro {
      .bio h1 {
        font-size: $xl - 0.2rem;
      }

      .pfp {
        width: 96%;
      }

      .socials {
        width: 70%;
      }
    }

    .section {
      flex-direction: column;
      align-items: center;

      .box {
        vertical-align: top;
        width: 72%;
        margin-bottom: 1.2rem;
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 650px) {
  header {
    margin-bottom: 3rem;
  }

  main {
    .intro {
      flex-direction: column;

      .bio h1 {
        font-size: $lg;
      }

      .pfp {
        text-align: center;
        padding-bottom: 1rem;
      }
    }
  }
}
