@keyframes colorChange {
  0% {
    color: $lavender;
  }
  50% {
    color: #6025ec;
  }
  100% {
    color: $pink;
  }
}

body {
  font-family: $sans_serif;
  line-height: 1.5rem;
  background: $light_mode;
  color: $black;
  font-size: $regular;
}

.post-content,
.update-content {
  margin: 0 $max_margin;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 8rem;
  margin-left: $max-margin;
  margin-right: $max-margin;
  padding-right: 4rem;

  .header-logo {
    a {
      text-decoration: none;
      color: $lavender;
      animation: colorChange 20s;
      animation-iteration-count: infinite;
    }
  }

  h2 {
    margin-top: 0.6em;
  }
}

main,
.post-content {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: $max-margin;
    margin-right: $max-margin;
  }

  .pfp {
    img {
      border-radius: 0.4rem;
      width: 80%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
  }

  .bio {
    text-align: left;

    h1 {
      font-size: $xl;
    }
  }

  .bullets {
    padding-top: 0.4rem;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding-top: 0.6rem;

    .social-icon {
      color: transparent;
    }
  }

  .bridge {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 4rem;

    h1 {
      font-size: $xl;
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right: $max_margin - 2rem;
    margin-left: $max_margin - 2rem;

    .box {
      display: block;
      width: 30%;
      background-color: $white;
      border-radius: 1rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      text-align: center;
      transition: all 0.2s ease;

      p,
      li {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
      }

      .box-emoji {
        padding-top: 1rem;
        padding-bottom: 0.4rem;
        font-size: $lg;
      }

      .box-header {
        font-size: $md;
      }
    }

    .box:hover {
      transform: translateY(-2px);
    }
  }

  .single {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

footer {
  margin-left: $max_footer_margin;
  margin-right: $max_footer_margin;
  margin-top: 1.4rem;
  padding-top: 1.6rem;
  font-size: $xs;
  font-weight: $semi_bold;
  text-align: center;

  a {
    color: $pink;
  }
}

header,
h1,
h2,
h3 {
  font-family: $serif;
}

h1 {
  font-size: $lg;
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-bottom: 0.6em;
  }
}

time {
  font-size: $xs;
  color: $gray;
}

a {
  color: $lavender;
}

body.dark-mode {
  background: $dark_mode;
  color: $white;

  .box {
    background-color: $black;
  }
}

.mode-switch {
  display: flex;
  align-items: center;
  font-size: $lg;
}

.mode-switch,
.link-plain {
  text-decoration: none;
}

.now-description {
  margin-top: 0.2em;
  font-size: $xs;
}

.link-thoughts {
  font-size: $regular;
  padding: 0.4em 0.6em;
}

.posts {
  line-height: 1.6rem;
}

.post-content {
  h2 {
    margin-bottom: 0.2em;
  }

  ul {
    list-style-type: square;
    padding-left: 0.8em;
  }

  .post-image {
    width: 100%;
  }

  .caption {
    font-size: $xs;
    text-align: center;
  }
}

.update-content {
  h2 {
    font-size: $md;
    margin-bottom: 0.4em;
  }

  li {
    border: 1px solid $indigo;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 2em;
  }

  time {
    color: $gray;
  }

  p {
    margin-top: 0.2em;
  }
}

/*********media queries************/

@media (max-width: 1100px) {
  main {
    .section {
      margin-right: $max_margin - 10rem;
      margin-left: $max_margin - 10rem;
    }
  }
}

@media (max-width: 1000px) {
  header {
    margin-left: $max_margin - 11rem;
    margin-right: $max-margin - 11rem;
    padding-left: 2rem;
  }

  main {
    .intro {
      margin-left: $max_margin - 9rem;
      margin-right: $max_margin - 9rem;
    }

    .section {
      margin-right: $max_margin - 11.5rem;
      margin-left: $max_margin - 11.5rem;
    }
  }

  footer {
    margin-right: $max_footer_margin - 18rem;
    margin-left: $max_footer_margin - 18rem;
  }
}

@media (max-width: 550px) {
  header {
    margin-left: $max_margin - 11rem;
    margin-right: $max-margin - 11rem;
    margin-bottom: 3rem;
    padding-right: 0;
  }

  main {
    .intro {
      flex-direction: column;
      margin-left: $max_margin - 11.5rem;
      margin-right: $max_margin - 11.5rem;

      .pfp {
        text-align: center;
        padding-bottom: 1rem;
      }
    }

    .bridge {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }

    .section {
      flex-direction: column;
      align-items: center;
      margin-left: $max_margin - 11rem;
      margin-right: $max_margin - 11rem;

      .box {
        width: 90%;
        margin-bottom: 1.2rem;
      }
    }
  }

  footer {
    margin-left: $max_footer_margin - 19rem;
    margin-right: $max_footer_margin - 19rem;
  }
}

@media (max-width: 300px) {
  main .bio {
    h1 {
      font-size: $lg;
    }
  }
}

// @media screen and (max-width: 700px) {
//   header,
//   main,
//   .post-content,
//   .update-content {
//     max-width: 26rem;
//   }
// }
//
// @media screen and (max-width: 500px) {
//   header,
//   main,
//   .post-content,
//   .update-content {
//     max-width: 20rem;
//
//     .pfp {
//       width: 60%;
//     }
//   }
//
//   footer {
//     max-width: 18rem;
//   }
// }
//
// @media screen and (max-width: 400px) {
//   header,
//   main,
//   .post-content,
//   .update-content {
//     max-width: 18rem;
//     padding-top: 1.4em;
//   }
//
//   footer {
//     max-width: 18rem;
//   }
// }
//
// @media screen and (max-width: 300px) {
//   header,
//   main,
//   .post-content,
//   .update-content {
//     max-width: 14rem;
//   }
// }
