// fonts
$serif: "Roboto Slab", serif;
$sans_serif: "Roboto", sans-serif;

//font sizes
$regular: 1.125rem;
$large: 2.25rem;
$medium: 1.75rem;
$small: 1.25rem;
$regular_small: 0.875rem;
$xs: 0.75rem;
$xxs: 0.625rem;

//font weights
$default: 400;
$semi_bold: 600;
$bold: 700;

// color palette
$white: #fff;
$black: #161616;
$gray: #999;
$mint: #20e3b2;
$mint_blue: #429e9d;
$lavender: #a6a6ed;
$light_mode: #fafafa;
$dark_mode: #2f2f2f;

//spacing
$max_content_width: 38rem;
$max_footer_width: 30rem;
