// fonts
$serif: "Roboto Slab", serif;
$sans_serif: "Roboto", sans-serif;

//font sizes
$regular: 16px;
$large: 36px;
$medium: 28px;
$small: 20px;
$xs: 12px;

//font weights
$default: 300;
$semi_bold: 600;
$bold: 700;

// color palette
$white: #fff;
$black: #161616;
$gray: #fafafa;
$mint: #20e3b2;
$mint_blue: #429e9d;
$lavender: #a6a6ed;

//spacing
$max_content_width: 38em;
$max_footer_width: 40em;
